:root {
    --background-primary: #232323;
    --background-secondary: #2C2D2F;

    --text-primary: #ffffff;
    --text-secondary: #272727;

    --bot-color-primary: #05CD66;
    --bot-color-secondary: #D9D9D9;

    --button-color-primary: #F1F1F1;

    --error-color-primary: #c91000;
    --error-color-hover-primary: #fa1500;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* main page */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    background: var(--background-primary);
    color: var(--text-primary);
    padding: 0 20px;
    overflow: hidden;
}

.showcase {
    background: var(--background-secondary);
    padding: 60px 40px;
    border-radius: 25px;
    box-shadow: 0 8px 8px var(--bot-color-primary);
    backdrop-filter: blur(8px);
    max-width: 800px;
    width: 90%;
}

.showcase h2 { 
    font-size: 1.2rem;
}

/* main bot */
.chat-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    user-select: none;
}

.chat-bot button,
.chat-bot input {
    background-color: var(--button-color-primary);
}

/* bot logo */
.chat-bot .bot-logo {
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.chat-bot .bot-logo img {
    width: 80px;
    height: 80px;
}

/* bot reminder */
.chat-bot .bot-reminder {
    background-color: var(--background-primary);
    color: var(--text-primary);
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--bot-color-primary);
    width: max-content;
    opacity: 0;
    transform: translateX(10px);
    pointer-events: none;
    transition: 0.3s ease;
}

.chat-bot.showing .bot-reminder {
    opacity: 0 !important;
    pointer-events: none !important;
}

.chat-bot .bot-logo:hover+.bot-reminder {
    opacity: 1;
    visibility: visible;
}

/* bot container */
.chat-bot .bot-container {
    position: absolute;
    bottom: 100px;
    right: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
    max-height: 600px;
    transform: translateY(20px);
    pointer-events: none;
    transition: 0.3s ease;
}

.chat-bot.showing .bot-container {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.chat-bot .bot-container .bot-container-part {
    background-color: var(--text-primary);
    padding: 10px;
}

.chat-bot .bot-container .bot-container-part.bot-header {
    color: var(--text-primary);
    background-color: var(--bot-color-primary);
    height: 60px;
    display: flex;
    flex-direction: row;
}

.chat-bot .bot-container .bot-container-part.bot-header .bot-header-name {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.chat-bot .bot-container .bot-container-part.bot-header .bot-header-close {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.chat-bot .bot-container .bot-container-part.bot-header .bot-header-close i {
    font-size: 25px;
    transition: color 0.3s ease;
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-bot .bot-container .bot-container-part.bot-header .bot-header-close i:hover {
    color: var(--text-secondary);
}

/* bot body */
.chat-bot .bot-container .bot-container-part.bot-body {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 20px;
}

.chat-bot .bot-container .bot-container-part.bot-body .pre-questions-area {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--text-secondary);
}

.chat-bot .bot-container .bot-container-part.bot-body .pre-questions-area button {
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 2px 12px;
    margin-bottom: 12px;
    height: 30px;
    transition: border 0.3s ease;
}

.chat-bot .bot-container .bot-container-part.bot-body .pre-questions-area button:hover {
    border: 2px solid var(--bot-color-primary);
    cursor: pointer;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-bot-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.chat-bot .bot-container .bot-container-part.bot-body> :last-child.bot-body-bot-part {
    margin-bottom: 0;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-bot-part .bot-body-bot-messages {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-bot-part .bot-body-bot-messages .bot-img {
    height: 40px;
    width: 40px;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-bot-part .bot-body-bot-messages .bot-body-bot-responses {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-bot-part .bot-body-bot-messages .bot-body-bot-responses .bot-message-div {
    background-color: var(--bot-color-primary);
    color: var(--text-primary);
    padding: 20px;
    border-radius: 40px;
    border-bottom-left-radius: 0px;
    width: 80%;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-bot-part .bot-body-bot-messages .bot-body-bot-responses .bot-message-div .bot-message {
    margin-right: auto;
}

.bot-message-buttons {
    padding: 10px;
    background-color: var(--bot-color-secondary);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-top-left-radius: 0px;
}

.bot-message-button {
    width: 80%;
    margin-right: auto;
    margin: 1px 0px;
    padding: 8px;
    background-color: var(--bot-color-secondary);
    color: var(--text-secondary);
    border: 2px solid transparent;
    border-bottom: 1px solid var(--text-secondary);
}

.bot-message-button:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--bot-color-primary);
}

#botMessageButtonNFO {
    color: var(--error-color-primary);
    border-bottom: 0px;
}

#botMessageButtonNFO:hover {
    color: var(--error-color-hover-primary);
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-user-part {
    width: 100%;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-user-part .bot-body-user-messages {
    display: flex;
    flex-direction: column;
}

.chat-bot .bot-container .bot-container-part.bot-body .bot-body-user-part .bot-body-user-messages .user-message {
    max-width: 60%;
    margin-left: auto;
    padding: 20px;
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border-radius: 40px;
    border-bottom-right-radius: 0px;
    word-wrap: break-word;
}

/* bot sss */
.chat-bot .bot-container .bot-container-part.bot-sss {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    padding-bottom: 0;
}

.chat-bot .bot-container .bot-container-part.bot-sss button {
    height: 30px;
    width: 50%;
    color: var(--text-secondary);
    border-radius: 20px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.chat-bot .bot-container .bot-container-part.bot-sss button:hover {
    border: 2px solid var(--bot-color-primary);
    cursor: pointer;
}

/* bot footer */
.chat-bot .bot-container .bot-container-part.bot-footer {
    height: 70px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input .bot-input {
    outline: none;
    border: 2px solid transparent;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 0 60px 0 20px;
    transition: border 0.3s ease;
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input .bot-input:focus {
    border: 2px solid #10c98f;
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input .submit-button {
    background-color: transparent;
    border: 0 !important;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: translate(0, -50%);
    top: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input .submit-button i {
    font-size: 18px;
    color: var(--text-secondary);
    transition: color 0.3s ease;
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input .submit-button:hover i {
    color: var(--bot-color-primary);
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input .bot-input:focus i {
    color: var(--bot-color-primary);
}

.chat-bot .bot-container .bot-container-part.bot-footer .bot-footer-input .bot-input:focus + .submit-button i {
    color: var(--bot-color-primary) !important;
}

@media (max-width: 768px) {
    .bot-reminder {
        display: none !important;
    }
}