:root {
    --background-primary: #232323;
    --background-secondary: #2C2D2F;
    --background-tertiary: #17181B;
    --background-overlay: #17181b80;
    --background-gradient: #00000099;

    --text-primary: #ffffff;
    --text-secondary: #777777;
    --text-accent: #2980b9;

    --border-default: #202226;
    --hover-primary: #34495e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* main page */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    background: var(--background-primary);
    color: var(--text-primary);
    padding: 0 20px;
    overflow: hidden;
}

.showcase {
    background: var(--background-secondary);
    padding: 60px 40px;
    border-radius: 25px;
    box-shadow: 0 8px 20px var(--background-gradient);
    backdrop-filter: blur(8px);
    max-width: 800px;
    width: 90%;
}

/* main bot */
.chat-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    user-select: none;
}

/* bot logo */
.chat-bot .bot-logo {
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    background-color: var(--text-accent);
}

.chat-bot .bot-logo:hover+.bot-reminder {
    opacity: 1;
    visibility: visible;
}

.chat-bot .bot-logo img {
    width: 100%;
    height: 100%;
}

/* bot reminder */
.chat-bot .bot-reminder {
    background-color: var(--background-primary);
    color: var(--text-primary);
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--text-accent);
    width: max-content;
    opacity: 0;

    transform: translateX(10px);
    pointer-events: none;
    transition: 0.3s ease;
}

.chat-bot.showing .bot-reminder {
    opacity: 0 !important;
    pointer-events: none !important;
}

/* bot container */
.chat-bot .bot-container {
    position: absolute;
    bottom: 100px;
    right: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--background-primary);
    width: 350px;
    max-height: 600px;
    transform: translateY(20px);
    pointer-events: none;
    transition: 0.3s ease;
}

.chat-bot.showing .bot-container {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.bot-container-part {
    padding: 10px;
}

.bot-header {
    color: var(--text-primary);
    background-color: #272727;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.bot-header-name {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.bot-header-close {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.bot-header-close i {
    font-size: 25px;
    transition: color 0.3s ease;
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot-header-close i:hover {
    color: #10c98f;
}

/* bot body */
.bot-body {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #F1F1F1;
    overflow-y: auto;
}

.pre-questions-area {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 0px;
}

.pre-questions-area button {
    background-color: #E5E5E5;
    color: #272727;
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 2px 12px;
    margin-bottom: 6px;
    height: 30px;
}

.pre-questions-area button:hover {
    border: 2px solid #10c98f;
    cursor: pointer;
}

.bot-body-bot-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 10px;
}

.bot-body-bot-messages {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bot-img {
    height: 40px;
    width: 40px;
}

.bot-body-bot-responses {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bot-message-div {
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 40px;
    border-bottom-left-radius: 0px;
    width: 70%;
    margin: 5px 0px;
}

.bot-message {
    margin-right: auto;
    background-color: #E5E5E5;
    color: #272727;
    margin: 5px 0px;
}

.bot-message-buttons {
    padding: 10px;
    background-color: #E5E5E5;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-top-left-radius: 0px;
}

.bot-message-button {
    width: 80%;
    margin-right: auto;
    margin: 1px 0px;
    padding: 8px;
    background-color: #E5E5E5;
    color: #272727;
    border: 2px solid transparent;
    border-bottom: 1px solid #272727;
}

.bot-message-button:hover {
    cursor: pointer;
    border-bottom: 1px solid #10c98f;
}

#botMessageButtonNFO {
    color: #c91000;
    border-bottom: 0px;
}

#botMessageButtonNFO:hover {
    color: #fa1500;
}

.bot-body-user-part {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bot-body-user-messages {
    display: flex;
    flex-direction: column;
}

.user-message {
    max-width: 50%;
    margin: 0px 5px;
    margin-left: auto;
    padding: 20px;
    background-color: #272727;
    color: white;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
}

.bot-sss {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F1F1F1;
}

.bot-sss button {
    height: 100%;
    width: 50%;
    background-color: #E5E5E5;
    color: #272727;
    border-radius: 20px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.bot-sss button:hover {
    border: 2px solid #10c98f;
    cursor: pointer;
}

#getSss {
    margin-right: 5px;
}

.space {
    width: 5px;
}

.bot-footer {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #F1F1F1;
    box-sizing: border-box;
}

.bot-footer-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bot-footer-submit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-footer-stop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-input {
    outline: none;
    border: 2px solid transparent;
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 0 60px 0 20px;
}

.bot-input:focus {
    border: 2px solid #10c98f;
}

.bot-submit {
    background-color: transparent;
    border: 0 !important;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.send-img {
    transition: transform 0.2s ease;
}

.bot-stop {
    background-color: transparent;
    border: 0 !important;
    cursor: pointer;
    position: absolute;
    right: 20px;
    display: none;
}

.bot-stop img {
    height: 25px;
}

.bot-stop:hover img {
    content: url('../images/stop-button-green.png');
}

.bot-submit img {
    height: 25px;
}

.bot-submit:hover img {
    content: url('../images/send-icon-green.png');
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .bot-reminder {
        display: none !important;
    }

    .remove-button {
        display: none !important;
    }

    .bot-header-close {
        display: none !important;
    }
}