:root {
    --background-primary: #232323;
    --background-secondary: #2C2D2F;
    --background-tertiary: #17181B;
    --background-overlay: #17181b80;
    --background-gradient: #00000099;

    --text-primary: #ffffff;
    --text-secondary: #777777;
    --text-accent: #2980b9;

    --border-default: #202226;
    --hover-primary: #34495e;
}

:root[data-theme="light"] {
    --background-primary: #ffffff;
    --background-secondary: #f4f4f4;
    --background-tertiary: #eaeaea;
    --background-overlay: #ffffffcc;
    --background-gradient: #ffffff33;

    --text-primary: #111111;
    --text-secondary: #555555;
    --text-accent: #1a73e8;

    --border-default: #dddddd;
    --hover-primary: #cce0ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /*
    transition: background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
    */
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.chat-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    z-index: -1;
}

.chat-bot * {
    font-family: Ubuntu;
    user-select: none;
}

.chat-bot .chat-bot-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--text-accent);
    cursor: pointer;
    z-index: 9;
}

.chat-bot .chat-bot-logo img {
    height: 100%;
    width: 100%;
}

.chat-bot .remove-button {
    position: absolute;
    right: unset;
    right: -2px;
    top: 0;
    background-color: #10c98f;
    height: 15%;
    width: 15%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.chat-bot .chat-bot-logo:hover .remove-button {
    opacity: 1;
    visibility: visible;
}

.chat-reminder {
    background-color: #272727;
    color: white;
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    border: 2px solid #10c98f;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: max-content;
}

.chat-bot:hover .chat-reminder {
    opacity: 1;
    visibility: visible;
}

.chat-container {
    position: absolute;
    bottom: 100px;
    right: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F1F1F1;
    width: 350px;
    height: 500px;
}

.showing {
    opacity: 1;
    visibility: visible;
}

.chat-header {
    color: white;
    background-color: #272727;
    height: 12%;
}

.chat-header-part-name {
    width: 100%;
    height: 100%;
    background-color: #272727;
    color: #E5E5E5;
    display: flex;
    align-items: center;
    cursor: default;
}

.chat-header-close-div {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        display: inline-block;
        height: 6px;
        width: 18px;
        background-color: #676767;
        border-radius: 20px;
        transition: 0.3s ease-in-out transform, 0.3s ease-in-out background-color;
    }

    &:hover {
        &:before {
            background-color: #10c98f;
        }
    }

}

.chat-header-name {
    text-align: left;
    padding: 0 !important;
    margin: 0px 0px 0px 20px !important;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 68%;
    background-color: #F1F1F1
}

.chat-body {
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    height: 100%;
    overflow-y: auto;
}

.start-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.start-div button {
    background-color: #E5E5E5;
    color: #272727;
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 2px 12px;
    margin-bottom: 6px;
    height: 30px;
}

.start-div button:hover {
    border: 2px solid #10c98f;
    cursor: pointer;
}

.chat-body-bot-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 10px;
}

.chat-body-bot-messages {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bot-img {
    /*padding: 16px 4px;*/
    height: 40px;
    width: 40px;
}

.chat-body-bot-responses {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bot-message-div {
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 40px;
    border-bottom-left-radius: 0px;
    width: 70%;
    margin: 5px 0px;
}

.bot-message {
    margin-right: auto;
    background-color: #E5E5E5;
    color: #272727;
    margin: 5px 0px;
}

.bot-message-buttons {
    padding: 10px;
    background-color: #E5E5E5;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-top-left-radius: 0px;
}

.bot-message-button {
    width: 80%;
    margin-right: auto;
    margin: 1px 0px;
    padding: 8px;
    background-color: #E5E5E5;
    color: #272727;
    border: 2px solid transparent;
    border-bottom: 1px solid #272727;
}

.bot-message-button:hover {
    cursor: pointer;
    border-bottom: 1px solid #10c98f;
}

#botMessageButtonNFO {
    color: #c91000;
    border-bottom: 0px;
}

#botMessageButtonNFO:hover {
    color: #fa1500;
}

.chat-body-user-part {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-body-user-messages {
    display: flex;
    flex-direction: column;
}

.user-message {
    max-width: 50%;
    margin: 0px 5px;
    margin-left: auto;
    padding: 20px;
    background-color: #272727;
    color: white;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
}

.chat-sss {
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: #F1F1F1;
}

.chat-sss button {
    height: 100%;
    width: 50%;
    background-color: #E5E5E5;
    color: #272727;
    border-radius: 20px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.chat-sss button:hover {
    border: 2px solid #10c98f;
    cursor: pointer;
}

#getSss {
    margin-right: 5px;
}

.space {
    width: 5px;
}

.chat-footer {
    height: 14%;
    width: 100%;
    display: flex;
    background-color: #F1F1F1;
    box-sizing: border-box;
    padding-bottom: 5px;
}

.chat-footer-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.chat-footer-submit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-footer-stop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-input {
    outline: none;
    border: 2px solid transparent;
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 0 60px 0 20px;
}

.chat-input:focus {
    border: 2px solid #10c98f;
}

.chat-submit {
    background-color: transparent;
    border: 0 !important;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.send-img {
    transition: transform 0.2s ease;
}

.chat-stop {
    background-color: transparent;
    border: 0 !important;
    cursor: pointer;
    position: absolute;
    right: 20px;
    display: none;
}

.chat-stop img {
    height: 25px;
}

.chat-stop:hover img {
    content: url('../images/stop-button-green.png');
}

.chat-submit img {
    height: 25px;
}

.chat-submit:hover img {
    content: url('../images/send-icon-green.png');
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .chat-reminder {
        display: none !important;
    }

    .remove-button {
        display: none !important;
    }

    .chat-header-close-div {
        display: none !important;
    }
}